@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@theme {
    --breakpoint-xs: 475px;
    --breakpoint-custom-xl: 1200px;
}
